In [1]:
from platform import python_version
python = python_version()
print(f'Python version used on this Jupyter Notebook: {python}')

Python version used on this Jupyter Notebook: 3.12.3

In [2]:
# Instala o pacote 
!pip install -q plotly

In [3]:
# Imports
import random
import plotly.graph_objects as go
import pandas as pd
import numpy as np
from datetime import datetime

## Carregando e Visualizando os Dados com Candlestick

In [5]:
data = pd.read_csv('datasetreilearn.csv')

In [6]:
data.shape

(506, 11)

In [7]:
data.head()

,Date,AAPL.Open,AAPL.High,AAPL.Low,AAPL.Close,AAPL.Volume,AAPL.Adjusted,dn,mavg,up,direction
0,2015-02-17,127.489998,128.880005,126.919998,127.830002,63152400,122.905254,106.741052,117.927667,129.114281,Increasing
1,2015-02-18,127.629997,128.779999,127.449997,128.720001,44891700,123.760965,107.842423,118.940333,130.038244,Increasing
2,2015-02-19,128.479996,129.029999,128.330002,128.449997,37362400,123.501363,108.894245,119.889167,130.884089,Decreasing
3,2015-02-20,128.619995,129.500000,128.050003,129.500000,48948400,124.510914,109.785449,120.763500,131.741551,Increasing
4,2015-02-23,130.020004,133.000000,129.660004,133.000000,70974100,127.876074,110.372516,121.720167,133.067817,Increasing