In [8]:
from platform import python_version
print(f"Our Python version used on this ML Script is: {python_version()}")

Our Python version used on this ML Script is: 3.12.3

In [9]:
# Imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

### Carregando Dados:

In [10]:
# Carrega o dataset:
dataset = pd.read_csv('datasetskt.csv')

In [11]:
dataset.shape

(500, 2)

In [12]:
dataset.head()

   horas_estudo_mes  salario
0              57.0   6813.0
1              48.0   6855.0
2              60.0   5801.0
3              73.0   7431.0
4              46.0   5475.0

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   horas_estudo_mes  500 non-null    float64
 1   salario           500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

In [14]:
dataset.describe()

       horas_estudo_mes      salario
count        500.000000   500.000000
mean          50.060000  6018.930000
std           14.659406   848.697853
min            1.000000  3664.000000
25%           39.750000  5473.000000
50%           50.000000  6013.500000
75%           60.000000  6542.000000
max          100.000000  9348.000000