In [8]:
from platform import python_version
print(f"Our Python version used on this ML Script is: {python_version()}")

Our Python version used on this ML Script is: 3.12.3

In [9]:
# Imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

### Carregando Dados:

In [10]:
# Carrega o dataset:
dataset = pd.read_csv('datasetskt.csv')

In [11]:
dataset.shape

(500, 2)

In [12]:
dataset.head()

   horas_estudo_mes  salario
0              57.0   6813.0
1              48.0   6855.0
2              60.0   5801.0
3              73.0   7431.0
4              46.0   5475.0