In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.3

## Statistical Data Visualization com Seaborn

In [2]:
# Imports
import random
import numpy as np
import pandas as pd
import matplotlib as mat
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [3]:
np.__version__

'1.26.4'

In [4]:
pd.__version__

'2.1.4'

In [5]:
mat.__version__

'3.7.5'

In [6]:
import seaborn as sea

### Criando Gráficos com Seaborn

In [7]:
# Carregando um dos datasets que vem com o Seaborn
dados = sea.load_dataset('tips')

In [8]:
dados.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4